.ContestPreview {
  margin: 1em;
  border: 1px solid green; }
  .ContestPreview .category-name {
    border-bottom: 1px solid #ccc;
    padding: 0.25em 0.5em;
    font-weight: bold;
    background-color: #eee; }
  .ContestPreview .contest-name {
    padding: 0.5em; }

.link {
  cursor: pointer; }

.ContestList {
  max-height: '50'; }

#myDivScrollbar ::-webkit-scrollbar {
  background-color: #F5F5F5;
  float: left;
  overflow-y: 'auto'; }

.scrollbar {
  background-color: blue;
  max-height: 100px;
  overflow-y: 'auto'; }

.force-overflow {
  min-height: 200px; }
